{% load socialaccount %}

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">

            <h2 class="mb-4 text-center">Login</h2>

            <form method="post">
                {% csrf_token %}

                {% for field in form %}
                    <div class="mb-3">
                        {{ field.label_tag }}
                        {{ field }}
                        <div class="text-danger">
                            {{ field.errors }}
                        </div>
                    </div>
                {% endfor %}

                <button class="btn btn-primary w-100">Login</button>
            </form>

            <a href="{% provider_login_url 'yandex' %}">
                Войти через Яндекс
            </a>

            <p class="mt-3 text-center">
                Don't have an account?
                <a href="{% url 'register' %}">Register</a>
            </p>

        </div>
    </div>
</div>

</body>
</html>
